@import "settings";
@import "foundation-sites/foundation";
@include foundation-everything(true);
@import "icons";
@import "decks";
@import "insert";

$default-border: 1px solid black;

.main-body {
  margin: 20px 10px;
  .center-column {
    width: 50%;
    margin: auto;
  }
}

.smallTitle {
  font-weight: bold;
  margin: 0.5rem 0;
}

.option-preset {
  width: 130px;
  padding: 0.5em 5px;
  margin: 4px 0;
}

@media print {
  .top-bar {
    display: none;
  }

  /*
  body {
    // Full Page border
    // border: 1px solid black;
  }
  */
}

.help {
  img {
    border: 1px solid black;
    filter: drop-shadow(3px 3px 1px black);
    margin-bottom: 1rem;
  }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}

$extLinkBaseColor: $primary-color;
$extLinkHoverColor: scale-color($primary-color, $lightness: +20%); // -15% on buttons
$extLinkSpinningColor: rgb(100, 100, 100);

.extLink {
  .icon {
    color: $extLinkBaseColor;
    &:hover {
      color: $extLinkHoverColor;
    }
    &.spinning {
      animation: spin 2s linear infinite;
      color: $extLinkSpinningColor;
    }
  }
}

// Force inline even with input file
div.optionPresetWrapper > *{
  display: inline-block;
  border-bottom-width: 0;
}

@import "ember-power-select";
@import "collection";