@import "settings";
@import "foundation-sites/foundation";
@include foundation-everything(true);
@import "decks";
@import "insert";

.main-body {
  margin: 20px 10px;
  .center-column {
    width: 50%;
    margin: auto;
  }
}

.smallTitle {
  font-weight: bold;
  margin: 0.5rem 0;
}

.option-preset {
  width: 130px;
  padding: 0.5em 5px;
}

@media print {
  .top-bar {
    display: none;
  }

  body {
    // Full Page border
    // border: 1px solid black;
  }
}

.help {
  img {
    border: 1px solid black;
    filter: drop-shadow(3px 3px 1px black);
    margin-bottom: 1rem;
  }
}

@import "ember-power-select";
