@import "settings";
@import "foundation-sites/foundation";
@include foundation-everything(true);
@import "icons";
@import "decks";
@import "insert";

$default-border: 1px solid black;

.main-body {
  margin: 20px 10px;
  .center-column {
    width: 50%;
    margin: auto;
  }
}

.smallTitle {
  font-weight: bold;
  margin: 0.5rem 0;
}

.option-preset {
  width: 130px;
  padding: 0.5em 5px;
}

@media print {
  .top-bar {
    display: none;
  }

  body {
    // Full Page border
    // border: 1px solid black;
  }
}

.help {
  img {
    border: 1px solid black;
    filter: drop-shadow(3px 3px 1px black);
    margin-bottom: 1rem;
  }
}

$extLinkBaseColor: $primary-color;
$extLinkHoverColor: scale-color($primary-color, $lightness: +20%); // -15% on buttons

.extLink {
  .icon {
    color: $extLinkBaseColor;
    &:hover {
      color: $extLinkHoverColor;
    }
  }
}

@import "ember-power-select";
@import "collection";