.main-body .collection{
  $pendingScanColor: hsl(212, 60%, 50%);
  $validScanColor: hsl(120, 60%, 50%);
  $invalidScanColor: hsl(0, 60%, 50%);

  $body-spacing: 5px;

  input, button, a {
    margin-bottom: 5px;
  }

  .flex-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // 778
    .flex-webcam {
      flex-basis: 210px;
    }
    .flex-search {
      flex-basis: 280px;
    }
    .flex-log {
      flex-basis: 250px;
    }
    .flex-select {
      flex-grow: 1;
    }
  }

  @media screen and (max-width: 600px) {
    .flex-wrapper {
      justify-content: start;
    }
  }

  .collection-section {
    border: 1px solid black;
    margin: 20px 0;
    > * {
      padding: 10px;
    }
    .title {
      font-weight: bold;
    }
    .body {
      margin: $body-spacing;
    }
    .log-window {
      margin-bottom: $body-spacing;
    }

    .table-title {
      display: flex;
      > * {
        margin-right: 20px;
      }
    }
  }

  .webcam-preview {
    width: 200px;
    border: 3px solid $pendingScanColor;
    padding: 2px;
    &.valid {
      border-color: $validScanColor;
    }
    &.invalid {
      border-color: $invalidScanColor;
    }
    video {
      display: block;
    }
  }

  .log-window {
    border: $default-border;
    width: 240px;
    height: 80px;
    font-size: .6em;
    overflow-y: scroll;
  }

  .manual-deck-wrapper {
    display: flex;
    flex-wrap: wrap;
    > * {
      padding: 5px;
      &.button-align {
        padding-top: 30px;
      }
    }
    .name {
      flex-basis: 400px;
    }
    .formpowerselect {
      flex-basis: 300px;
      .ember-basic-dropdown-trigger {
        border-radius: 0;
        height: 40px;
        padding: 6px 0;
        &:focus {
          outline: none;
          border: 1px solid #8a8a8a;
          background-color: #fefefe;
          box-shadow: 0 0 5px #cacaca;
          transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
        }
      }
      .ember-power-select-placeholder {
        font-size: 0.9rem;
        color: -internal-light-dark-color(black, white);
      }
    }
  }

  input.tiny {
    height: 1.7rem;
  }

  .deckTable {
    font-size: 0.7rem;
    .nowrap {
      white-space: nowrap;
    }
    .center {
      text-align: center;
    }
    .icon {
      font-size: 2em;
    }
    input.checkLine {
      margin: 0;
      display: inline;
      vertical-align: middle;
    }
    .info-or-action{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
      a{
        margin-bottom: 0;
      }
      .icon {
        font-size: 1rem;
      }
    }
  }

  // Smaller text for select
  #decksFound-list>div, .flex-select>div{
    margin-left: 0;
    font-size: 0.8em;
  }

  .deck-table-wrapper{
    overflow-x: auto;
    > table {
      min-width: 750px;
      tbody td {
        padding: 0 0.5rem;
      }
    }
  }

}