.main-body .collection{
  width: 75%;

  $pendingScanColor: hsl(212, 60%, 50%);
  $validScanColor: hsl(120, 60%, 50%);
  $invalidScanColor: hsl(0, 60%, 50%);

  $body-spacing: 5px;

  .flex-wrapper {
    display: flex;
    justify-content: space-around;
    .flex-webcam {
      flex-basis: 210px;
    }
    .flex-search {
      flex-basis: 360px;
    }
    .flex-log {
      flex-basis: 360px;
    }
    .flex-select {
      flex-grow: 1;
    }
  }

  .collection-section {
    border: 1px solid black;
    margin: 20px 0;
    > * {
      padding: 10px;
    }
    .title {
      font-weight: bold;
    }
    .body {
      margin: $body-spacing;
    }
    .log-window {
      margin-bottom: $body-spacing;
    }

    .table-title {
      display: flex;
      > * {
        margin-right: 20px;
      }
    }
  }

  .webcam-preview {
    width: 200px;
    height: 153px;
    border: 3px solid $pendingScanColor;
    padding: 2px;
    &.valid {
      border-color: $validScanColor;
    }
    &.invalid {
      border-color: $invalidScanColor;
    }
    video {
      display: block;
    }
  }

  .log-window {
    border: $default-border;
    width: 350px;
    height: 120px;
    font-size: .6em;
    overflow-y: scroll;
  }

  input.tiny {
    height: 1.7rem;
  }

  .deckTable {
    font-size: 0.7rem;
    .nowrap {
      white-space: nowrap;
    }
    .MVIcon {
      text-align: center;
    }
    .icon {
      font-size: 2em;
    }
    input.checkLine {
      margin: 0;
      display: inline;
      vertical-align: middle;
    }
  }

  // Smaller text for select
  #decksFound-list>div, .flex-select>div{
    margin-left: 0;
    font-size: 0.8em;
  }
}