$option-fixed-size: 320px;

.decks {
  display: flex;
  flex-wrap: wrap;

  .deck-inserts {
    flex: 1 0 0;
  }
  .deck-options {
    font-size: 0.75em;
    padding: 0.5em;   
    flex: 0 0 $option-fixed-size;
  }
  @media screen and (max-width: 600px) {
    .deck-options {
      order: 1;
      flex: 0 0 100%;
    }
    .deck-inserts {
      order: 2;
    }
  }

  .print-sheet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .print-sheet-block {
    &.space {
      margin: 1mm;
    }
  }

  .print-sheet > * {
    margin: 0;
    flex-grow: 0;
    flex-shrink: 0;
  }


  // Print Layout
  @media print {
    display: block;

    .deck-options {
      display: none;
    }
    .deck-inserts {
      flex: 0 0 100%;
    }
    .print-sheet {
      display: block;
    }
    .print-sheet-block {
      page-break-inside: avoid;
      float: left;
    }
  }

  .deck-folders-list {
    margin: 0 0 1rem 0;
  }

  .print-option {
    display: flex;
    margin: 0 0 0.5em;
    .print-option-label {
      flex-basis: 160px;
    }
    .print-option-select {
      flex-basis: 200px;
    }
    .switch.tiny {
      height: 0.5em;
    }
  }
}
