


.decks {
  // Print Layout

  @media print {
    .right-column {
      display: none;
    }
    .left-column {
      width: 100%;
    }
    .print-sheet-block {
      page-break-inside: avoid;
    }
  }

  // Right Side : Deck Inserts

  .print-sheet {
    display: block;
  }

  .print-sheet-block {
    float: left;
    &.space {
      margin: 2mm;
    }
  }

  .print-sheet > * {
    margin: 0;
    flex-grow: 0;
    flex-shrink: 0;
  }

  // Right Side : Deck Options

  .deck-options {
    font-size: 0.75em;
    padding: 0.5em;
  }

  .deck-folders-list {
    margin: 0 0 1rem 0;
  }

  .print-option {
    display: flex;
    margin: 0 0 0.5em;
    .print-option-label {
      flex-basis: 160px;
    }
    .print-option-select {
      flex-basis: 200px;
    }
    .switch.tiny {
      height: 0.5em;
    }
  }
}
