.decks {
  // Print Layout

  @media print {
    .right-column {
      display: none;
    }
    .left-column {
      width: 100%;
    }
  }

  // Right Side : Deck Inserts

  .print-sheet {
    display: flex;
    flex-wrap: wrap;
  }

  .print-sheet > * {
    margin: 0;
    flex-grow: 0;
    flex-shrink: 0;
  }

  // Right Side : Deck Options

  .deck-options {
    font-size: 0.75em;
  }

  .print-option {
    display: flex;
    margin: 0 0 0.5em;
    .print-option-label {
      flex-basis: 120px;
    }
    .print-option-select {
      flex-basis: 180px;
    }
  }
}
