.dok-stat{
  $iconSize: 4.5mm;
  flex-grow: 1;
  .dok-stat-info {
    display: flex;
    justify-content: center;
  }
  .dok-stat-icon {
    width: $iconSize;
    height: $iconSize;
    background-image: url("icons/svg/stat/other.svg");
    background-size: cover;
  }
  .dok-stat-value {
    flex-basis: 8mm;
    line-height: $iconSize;
    text-align: center;
  }
  .legend{
    font-size: 2mm;
  }
  
}

.dok-stat{
  .dok-stat-icon {

    &.creatures {
      background-image: url("icons/svg/stat/creature.svg");
    }
    &.actions {
      background-image: url("icons/svg/stat/action.svg");
    }
    &.artifacts {
      background-image: url("icons/svg/stat/artifact.svg");
    }
    &.upgrades {
      background-image: url("icons/svg/stat/upgrade.svg");
    }
    &.synergy {
      background-image: url("icons/svg/stat/synergy.svg");
    }
    &.antiSynergy {
      background-image: url("icons/svg/stat/anti-synergy.svg");
    }
    &.aemberControl {
      background-image: url("icons/svg/stat/amber-control.svg");
    }
    &.expectedAember {
      background-image: url("icons/svg/stat/expected-amber.svg");
    }
    &.aemberProtection {
      background-image: url("icons/svg/stat/amber-protection.svg");
    }
    &.efficiency {
      background-image: url("icons/svg/stat/efficiency.svg");
    }
    &.disruption {
      background-image: url("icons/svg/stat/disruption.svg");
    }
    &.artifactControl {
      background-image: url("icons/svg/stat/artifact-control.svg");
    }
    &.creatureControl {
      background-image: url("icons/svg/stat/creature-control.svg");
    }
    &.effectivePower {
      background-image: url("icons/svg/stat/power.svg");
    }
    &.houseCheating {
      background-image: url("icons/svg/stat/house-cheating.svg");
    }
    &.other {
      background-image: url("icons/svg/stat/other.svg");
    }
    &.rawAmber {
      background-image: url("icons/svg/stat/amber-icon.svg");
    }
    &.keyCheat {
      background-image: url("icons/svg/stat/key-cheat-icon.svg");
    }
    &.archive {
      background-image: url("icons/svg/stat/archive-icon.svg");
    }
  }
}