@import "dok-stat";
@import "house-ratio-bar";

// Burger Token Boxes

// Thin        : 37 Card Unsleeved
$bt-thin-width: 64mm;
$bt-thin-height: 90mm;
$bt-thin-depth: 14mm;

// Sleeved    : 37 Card Sleeved 67mm x 95.5mm x 22.5mm
$bt-large-width: 67mm;
$bt-large-height: 95.5mm;
$bt-large-depth: 22.5mm;

// Double Sleeved    : 37 Card Sleeved 67mm x 95.5mm x 27mm
$bt-xlarge-width: 67mm;
$bt-xlarge-height: 95.5mm;
$bt-xlarge-depth: 27mm;

// Margin
$cut-margin: 1mm;

$icon-base-height: 8mm;

$base-padding-x: 0.5mm;
$main-padding: 0;

.box-insert {
  border: 1px solid black;
  padding: $main-padding;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  font-family: "Righteous", "Roboto";
  font-weight: 400;

  > * {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 $base-padding-x;
  }

  &.box-insert-front {
    > * {
      border: 0.2mm solid black;
    }
  }
}

// DOK Styles

.box-insert-front {
  // 88mm x 62mm
  $width: $bt-thin-width - 2 * $cut-margin;
  $height: $bt-thin-height - 2 * $cut-margin;

  // Rules
  width: $width;
  height: $height;

  // Splitting Space Y. Main will extend
  $header: 12mm;
  $footer: 3mm;

  // Header Split, Name will extend
  $set: 9mm;
  $hr: 18mm;
  // Header Right Split
  $rightMargin: 2mm;
  $house: 7mm;
  $stat: $header - 2 * $main-padding - $house - $rightMargin;

  // Main Split
  // Footer Split
  $sasDate: 17mm;

  flex-direction: column;
  overflow-y: hidden;

  > * {
    width: 100%;
  }

  // Optional Borders
  &.no-borders {
    .dok-zone-front-header {
      .dok-zone-set,
      .dok-zone-name {
        border-right: none;
      }
    }
  }

  // Header Part
  .dok-zone-front-header {
    $setFontSize: 3mm;
    $nameFontSize: 3mm;
    $nameLineClip: 3;

    flex-basis: $header;
    height: $header;
    display: flex;

    .dok-zone-set {
      flex-basis: $set;
      width: $set;
      flex-shrink: 0;
      border-right: 1px solid black;
      margin-right: 2px;
      position: relative;
      > * {
        font-size: $setFontSize;
        text-align: center;
        position: absolute;
        top: ($header / 2) - $setFontSize * .8;
        width: 100%;
      }
    }

    .dok-zone-name {
      flex-grow: 1;
      
      font-size: $nameFontSize;
      line-height: $nameFontSize;
      margin: auto; // Vertical center

      overflow: hidden;
      padding: 0.5mm 0;
      // Ellipsis for Chrome Only
      display: -webkit-box;
      -webkit-line-clamp: $nameLineClip;
      -webkit-box-orient: vertical;
    }

    .dok-zone-header-right {
      flex-basis: $hr;
      flex-shrink: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-left: 1px solid black;
      margin-left: 2px;
      .dok-zone-stat {
        flex-basis: $stat;
        height: $stat;
        text-align: center;
      }
      .dok-zone-houses {
        flex-basis: $house;
        height: $house;
        text-align: center;
        padding-left: $base-padding-x;
      }
    }
  }

  // Main Part
  .dok-zone-front-main {
    flex-grow: 1;
    display: flex;
    padding: 0;
    font-size: 3mm;
    .dok-zone-front-colgroup2 {
      flex-grow: 2;
      flex-basis: 0;
      display: flex;
      flex-direction: column;
      border-right: 1px solid black;
      .dok-zone-front-colgroup2-top{
        display: flex;
        border-bottom: 1px solid black;
        flex-basis: 60mm;
      }
    }
    .dok-zone-front-col {
      display: flex;
      flex-grow: 1;
      flex-basis: 0; // thirds
      border-right: 1px solid black;
      flex-direction: column;
      &:last-child{
        border-right: none;
      }
      > * {
        flex-grow: 1;
      }
    }
    .dok-stats-group-wrapper{
      padding: 0.5mm;

      border-bottom: 1px solid black;
      &:last-child{
        border-bottom: none;
      }

      display: flex;
      flex-direction: column;

      &.card-types, &.aember {
        flex-grow: 3;
      }
      &.sas, &.speed {
        flex-grow: 2;
      }

      &.board, &.extra {
        flex-grow: 3;
      }
      &.misc {
        flex-grow: 2;
      }

      .dok-stats-group-legend {
        text-transform: uppercase;
        text-align: center;
        font-size: 0.6rem;
        flex-grow: 0;
        margin-top: -0.8mm; // Closer to border top
      }

      .dok-stats-group-data{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        
        .dok-stat {
          margin: 0;
          display: flex;
          flex-direction: column;
        }
      }

      // Special closer for card type
      &.card-types .dok-stats-group-data .dok-stat {
        margin-bottom: -1.9mm;
      }
    }
  }

  // Footer
  .dok-zone-front-footer {
    flex-basis: $footer;
    display: flex;
    > * {
      flex-grow: 1;
    }
    .dok-SAS-info {
      flex-grow: 0;
      flex-basis: $sasDate;
      display: flex;
      > * {
        font-size: 2mm;
        margin: auto;
        text-align: center;
        flex-grow: 1;
      }
    }
  }

  .notes-legend {
    text-transform: uppercase;
    text-align: left;
    padding: 0 1mm;
    font-size: 0.6rem;
    flex-grow: 0;
    margin-top: -0.4mm; // Closer to border top
  }

  .dok-zone-stat {
    font-size: 3.5mm;
  }
}

.box-insert-top {
  // 88mm x 12mm
  $width: $bt-thin-width - 2 * $cut-margin;
  $height: $bt-thin-depth - 2 * $cut-margin;

  // Rules
  width: $width;
  height: $height;

  // Splitting Space X
  $right: 18mm;
  $left: $width - 2 * $main-padding - 2 * $base-padding-x - $right;
  // Splitting Space Y Left
  $name: 5mm;
  $blank: $height - 2 * $main-padding - $name;
  $set: 10mm;
  // Splitting Space Y Right
  $rightMargin: 2mm;
  $house: 6mm;
  $stat: $height - 2 * $main-padding - $house - $rightMargin;

  $nameLineClip: 1;

  .dok-zone-top-left {
    flex-basis: 0;
    width: 0;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    .dok-zone-blank {
      flex-basis: $blank;
      display: flex;
      .flexfill{
        flex-grow: 1;
      }
      .dok-zone-set{
        flex-basis: $set;
        flex-grow: 0;
        font-size: 3.5mm;
        text-align: center;
      }
    }
    .dok-zone-name {
      $fontSize: 3.5mm;
      flex-basis: $name;
      width: 100%;
      font-size: $fontSize;
      max-height: $fontSize * $nameLineClip * 4;
      line-height: 4.3mm;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: $nameLineClip;
      -webkit-box-orient: vertical;
    }
  }
  .dok-zone-top-right {
    flex-basis: $right;
    width: $right;
    height: 100%;
    display: flex;
    flex-direction: column;
    .dok-zone-stat {
      flex-basis: $stat;
      height: $stat;
      text-align: center;
    }
    .dok-zone-houses {
      flex-basis: $house;
      height: $house;
      text-align: center;
    }
  }
}

.box-insert-side {
  // 62mm x 12mm
  $width: $bt-thin-height - 2 * $cut-margin;
  $height: $bt-thin-depth - 2 * $cut-margin;

  // Splitting Space
  $set: 10mm;
  $stat: 10mm;
  $house: 24mm;
  $margin: 1.5mm;

  // Rules
  width: $width;
  height: $height;

  .dok-zone-set {
    flex-basis: $set;
    font-size: 3.5mm;
    text-align: center;
  }

  .dok-zone-name {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 3.5mm;
  }

  .dok-zone-stat {
    flex-basis: $stat;
    overflow: hidden;
    font-size: 7mm;
    position: relative;
    line-height: $height;

    .dok-sas-label {
      font-size: 3mm;
      position: absolute;
      left: 4mm;
      bottom: -4mm;
    }
  }

  .dok-zone-houses {
    flex-basis: $house;
  }

  // Variant without the set displayed
  &.no-set {
    .dok-zone-set {
      display: none;
    }
  }
}

// Other Sizes

.box-insert.bt-slim {
  &.box-insert-top {
    .dok-zone-top-left .dok-zone-name {
      font-size: 2.7mm;
    }
  }
}

.box-insert.bt-large {
  &.box-insert-front {
    $width: $bt-large-width - 2 * $cut-margin;
    $height: $bt-large-height - 2 * $cut-margin;
    width: $width;
    height: $height;
  }
  &.box-insert-top {
    $width: $bt-large-width - 2 * $cut-margin;
    $height:  $bt-large-depth - 2 * $cut-margin;
    width: $width;
    height: $height;
  }
  &.box-insert-side {
    $width: $bt-large-height - 2 * $cut-margin;
    $height: $bt-large-depth - 2 * $cut-margin;
    width: $width;
    height: $height;
  }
}

.box-insert.bt-xlarge {
  &.box-insert-front {
    $width: $bt-xlarge-width - 2 * $cut-margin;
    $height: $bt-xlarge-height - 2 * $cut-margin;
    width: $width;
    height: $height;
  }
  &.box-insert-top {
    $width: $bt-xlarge-width - 2 * $cut-margin;
    $height:  $bt-xlarge-depth - 2 * $cut-margin;
    width: $width;
    height: $height;
  }
  &.box-insert-side {
    $width: $bt-xlarge-height - 2 * $cut-margin;
    $height: $bt-xlarge-depth - 2 * $cut-margin;
    width: $width;
    height: $height;
  }
}

.icon-house {
  height: $icon-base-height;
  max-height: 100%;
  margin: 0 -0.7mm; // closer to each other
}

.box-insert-front .icon-house {
  height: $icon-base-height - 2mm;
}

// Color For sets
.box-insert-side,.box-insert-top{
  .dok-zone-set {
    position: relative;
    height: 100%;
    > div {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  $setSaturation: 100%;
  $setLuminance: 70%;
  .dok-zone-set.set-cota {
    background-color: hsl(0,$setSaturation,$setLuminance);
  }
  .dok-zone-set.set-aoa {
    background-color: hsl(201,$setSaturation,$setLuminance);
  }
  .dok-zone-set.set-wc {
    background-color: hsl(296,$setSaturation,$setLuminance);
  }
}

// Grouped Layouts
.layoutAll{
  position: relative;
  .box-insert-side {
    position: absolute;
  }

  &.bt-slim {
    $depth: $bt-thin-depth - 2 * $cut-margin;
    $height: $bt-thin-height - 2 * $cut-margin;
    $width: $bt-thin-width - 2 * $cut-margin;
    padding-left: $depth;
    .box-insert-side {
      transform: rotate(-90deg) translate(-($height+$depth)/2, -($height+$depth)/2);
    }
  }
  &.bt-large {
    $depth: $bt-large-depth - 2 * $cut-margin;
    $height: $bt-large-height - 2 * $cut-margin;
    $width: $bt-large-width - 2 * $cut-margin;
    padding-left: $depth;
    .box-insert-side {
      transform: rotate(-90deg) translate(-($height+$depth)/2, -($height+$depth)/2);
    }
  }
  &.bt-xlarge {
    $depth: $bt-xlarge-depth - 2 * $cut-margin;
    $height: $bt-xlarge-height - 2 * $cut-margin;
    $width: $bt-xlarge-width - 2 * $cut-margin;
    padding-left: $depth;
    .box-insert-side {
      transform: rotate(-90deg) translate(-($height+$depth)/2, -($height+$depth)/2);
    }
  }



}