<div class="dok-stat">
  <div class="dok-stat-info">
    <div class="dok-stat-icon {{@iconClass}}"/>
    <div class="dok-stat-value">
      {{rounded-stat @value}}
    </div>
  </div>
  <div class="legend">
    {{@legend}}
  </div>
</div>