<div class="top-bar">
    <div class="top-bar-left">
    <ul class="menu">
        <li class="menu-text">Burger Inserts</li>
    </ul>
    </div>
    <div class="top-bar-right">
    <ul class="menu">
        <li><LinkTo @route="index">Home</LinkTo></li>
        <li><LinkTo @route="help">Help</LinkTo></li>
        <li><LinkTo @route="changelog">What is new</LinkTo></li>
        <li><LinkTo @route="decks">Print Inserts</LinkTo></li>
    </ul>
    </div>
</div>