<div class="center-column">
  <div class="changeLog">
    <p>Here are the last changed that were made to the app.</p>
    <span>2020-04-20</span>
    <ul>
      <li>Fixed handling new house list format from DOK</li>
      <li>Regrouped color options in menu</li>
      <li>Added house split on side and top</li>
    </ul>
  </div>
</div>