<div class="center-column">
  <div class="changeLog">
    <p>Here are the last changed that were made to the app.</p>
    <span>2021-04-06</span>
    <ul>
      <li>Align stats with current DOK stats</li>
      <li>Ready for Dark Tidings and Unfathomable</li>
    </ul>
    <span>2020-08-01</span>
    <ul>
      <li>Align stats with current DOK stats</li>
      <li>Added AERC on front</li>
      <li>Fix/Improved how dok data is resynced</li>
    </ul>
    <span>2020-05-19</span>
    <ul>
      <li>Minor display tweaks</li>
      <li>Added toggles to disable display of all SAS dynamic data</li>
    </ul>
    <span>2020-04-20</span>
    <ul>
      <li>Fixed handling new house list format from DOK</li>
      <li>Regrouped color options in menu</li>
      <li>Added house split on side and top</li>
    </ul>
  </div>
</div>