<div class="decks">
  <div class="grid-x">
    <div class="cell small-9 left-column">
      <div class="print-sheet">
        {{#each decksToPrint as |deck|}}
        <BoxInsert @type='side' @deck={{deck}} />
        {{/each}}
      </div>
    </div>
    <div class="cell small-3 right-column">
      <p class="smallTitle">Printing Options</p>
      <p>
        WIP
      </p>
      <p class="smallTitle">Decks Folders</p>
      {{log "folders" this.folders}}
      <div class="deck-folders-list">
        {{#each @model.folders as |folder|}}
        <DeckFolder @folder={{folder}} />
        {{/each}}
      </div>
      <p class="smallTitle">Import Decks Data</p>
      <div>
        <FileUpload @name="dokCsvUpload" @accept="text/csv" @onfileadd={{action 'uploadDokCsv'}} as |queue|>
          <a class="button">
            Load DoK csv file
          </a>
        </FileUpload>
      </div>
    </div>
  </div>

</div>