<div class="center-column">
  <div class="help">
    <h1>How to Export a deckList from decksofkeyforge.com (DoK)</h1>
    <p>Starting from any list of decks from Dok (premade filter like 'My Decks', or any other search)</p>
    <p>Switch the result list to "table mode" at the bottom</p>
    <img src="assets/gif/listMode.gif" alt="switch to list mode"/>
    <p>Then click on the export button on the far right</p>
    <img src="assets/gif/exportCsv.gif" alt="csv export"/>
  </div>
</div>