<div class="center-column">
  <div class="help">
    <h1>How to Export a deckList from decksofkeyforge.com (DoK)</h1>
    <p>Starting from any list of decks from Dok (premade filter like 'My Decks', or any other search)</p>
    <p>Go back in the left search column</p>
    <p>And click on the downard arrow just next to the sort options</p>
    <img src="assets/gif/exportCsv.gif" alt="how to csv export"/>
  </div>
</div>