<div class="center-column">
  <div class="welcome">
    <h1>Welcome</h1>
    <p>This tool allows printing paper inserts for your Keyforge decks,
      that can fit in transparent deckboxes such as "Burger Token" ones.
      Or that you can print as stickers and put them on any type or box your like</p>
    <p>This is an early alpha, and many features are going to come. Such as multiple print format, and box size,
      and even tuckbox templates you can print on hardstock paper and fold yourself.
    </p>
    <p>
      To start testing, go to <b>"Print Insert"</b> in the top right corner
    </p>
    <p>
      By Drallieiv, based on an original idea from "GavinForge"
    </p>
    <p>
      Reach me on <br>
      Discord : Drallieiv #4274 <br>
      Reddit : /u/drallieiv
    </p>
  </div>
</div>